@import 'typographic'
@import 'nib'
@import 'node_modules/bootstrap-styl/bootstrap/index.styl'
//@import 'node_modules/bootstrap-styl/bootstrap/theme.styl'

body
    padding-top 80px
nav
    margin 0px

.navbar
    padding-top 20px
    padding-bottom 20px
    padding-right 20px

[ui-view]
    padding 0px

.profile-section
    margin-right 15px
    margin-left 15px

#userProfileForm
    padding-left 0px
    padding-right 0px
