@import 'typographic'
@import 'nib'
@import 'node_modules/bootstrap-styl/bootstrap/index.styl'
@import 'node_modules/bootstrap-styl/bootstrap/theme.styl'

.navbar
    padding-top 10px
    padding-bottom 10px
